.crystals{
    border:1px solid blue;
    height:200 px ;
    width: 200px;
    display: block;
    justify-content:space-between center;
    align-items: center;
    padding: 50px;
}

.crystals{
    border:1px solid red;
    height:200 px ;
    width: 200px;
    display: block;
    justify-content:space-between center;
    align-items: center;
    padding: 50px;
}

.crystals{
    border:1px solid green;
    height:200 px ;
    width: 200px;
    display: block;
    justify-content:space-between center;
    align-items: center;
    padding: 50px;
}

.crystals{
    border:1px solid gold;
    height:200 px ;
    width: 200px;
    display: block;
    justify-content:space-between center;
    align-items: center;
    padding: 50px;
}